.submit {
	width: 100%;
	background:#f9f9f9;
}
.uni-textarea {
	
	box-sizing: border-box;
	
	
}
.uni-textarea uni-textarea {
	height: none;
}
.textarea {
	padding: 20rpx;
	nbackground: #fff;
}
.cell-pd {
		padding: 22rpx 30rpx;
	}

	.list-pd {
		/* margin-top: 50rpx; */
	}
	.uni-uploader__file {
		position: relative;
	}
	.delete {
		position: absolute;
		right: 0;
		top:0;
		/* background: #333; */
		color: #fff;
		z-index: 2;
		width: 40rpx;
	}